.no-responsive{
    width: auto !important;
}

.btn{
    text-align: center;
    // padding:1rem;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        height: 4rem;
        transition: all .2s ease-in;
        &:hover{
            background-color: rgba(0, 0, 0, .25);
            // color:$color-white;
        }
    }
}

.btn-shop{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid $color-black;
    width: 250px;
    height: 4rem;
    margin: 5rem auto 0;
    font-size: 1.2rem;
    a{
        width: inherit;
        color:#293133;
        font-family: 'Montserrat', sans-serif;
        .arrow-btn{
            // animation: arrow-pulse 700ms linear infinite;
            // background:url('../images/arrow-btn-shop.png') no-repeat;
            width: 18px;
            height: 12px;
            display: inline-block;
            margin-left: .5rem;
        }
    }
}

.btn-rr{
    border:1px solid #fffbcc;
    a{
        color:#fffbcc;
        .arrow-btn{
            // background: url('../images/arrow-btn-shop-intro.png') no-repeat;
            color:inherit;
        }
    }
}

.box-title-main{
    margin: 0 auto;
    max-width: fit-content;
    padding: 0 5%;
    h2{
        font-size: 6rem;
        color:$color-green;
        font-family: 'Baskervville', serif;
        font-style: italic;
        font-weight: normal;
        letter-spacing: .4rem;
        word-spacing: 1rem;
        text-transform: uppercase;
        margin:0;
        @media screen and (max-width: 600px){
            font-size: 4rem;
        }
    }
    span{
        font-size: 2.6rem;
        font-family: "Montserrat",sans-serif;
        margin-left: 5.2rem;
        color: $color-orange;
    }
}

@keyframes arrow-pulse {
    0% {
        left: 40px;
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        left: 20px;
        opacity: 1;
    }
}

// MAIN TEXT

.main-text{
    text-align: center;
    margin: 0 auto 19rem;
    padding: 0 5%;
    @media screen and (min-width: 980px){
        width: 56%;
        padding: 0;
    }
    img{
        margin-bottom: 8rem;
        margin-top: 5rem;
        width: 123px;
    }
    p{
        font-family: 'Baskervville', serif;
        font-size: 4rem;
        font-style: italic;
        color:#bbddcb;
        line-height: 6rem;
        letter-spacing: .08rem;
        @media screen and (max-width: 400px){
            font-size: 3rem;
        }
        span{
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-size: 3rem;
            color:#d7b6c1;
            font-style: normal;
            font-weight: 300;
            @media screen and (max-width: 400px){
                font-size: 2rem;
            }
        }
    }
}

// DISCOVER COLLECTION

.discover-collection{
    text-align: center;
    height: 80vh;
    // background-color: $color-green;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color:$color-white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    span{
        font-family: 'Baskervville', serif;
        font-size: 3rem;
        font-style: italic;
        margin-bottom: 15rem;
    }
    h2{
        text-transform: uppercase;
        font-size: 6.1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        letter-spacing: .7rem;
        margin:0;
        width: fit-content;
    }
    p{
        display: block;
        font-family: 'Baskervville', serif;
        font-size: 3rem;
        font-style: italic;
        text-transform: none;
        margin: .5rem 0 3rem;
        letter-spacing: .4rem;
        @media screen and (max-width: 780px){
            margin-bottom: 2rem;
        }
    }
    a{
        color:$color-white;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 6rem;
        width: auto;
        display: block;
        @media screen and (max-width: 780px){
            margin-bottom: 5rem;
        }
        &:hover{
            text-decoration: none;
        }
    }
}

.bloom-collection{
    background-image: url("../images/discover-collection/bloom-collection.jpg");
}

.origens-collection{
    background-image: url("../images/discover-collection/origens-collection.jpg");
}

// GRID IMAGE

.grid-image{
    padding:10rem 0;
    margin: 0 auto;
    .container-grid{
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 50px 0;
        div{
            width: 100%;
            height: auto;
            overflow: hidden;
            margin: 0 auto;
            @media screen and (min-width: 900px){
                width: 350px;
                height: 445px;
            }
            a{
                display: block;
                width: 100%;
                img{
                    object-fit: cover;
                    opacity: 1;
                    transition: all .3s ease-in-out;
                    width: 100%;
                    &:hover{
                        transform: scale(1.10);
                        opacity: .65;
                    }
                }
            }
        }
        @media screen and (min-width: 900px){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: 850px;
            gap: 5rem 5rem;
            div:nth-child(2){
                margin-top: 5rem;
            }
            div:nth-child(3){
                margin-top: -5rem;
            }
        }
        @media screen and (min-width: 1200px){
            width: 908px;
        }
    }
}

.grid-image--roberta{
    background-color:$color-green;
    .container-grid{
        div{
            background-color:inherit;
        }
    }
}

.grid-image--bloom{
    background-color: #badee8;
    .container-grid{
        div{
            background-color:inherit;
        }
    }
}

.grid-image--origens{
    background-color: #e8daf6;
    .container-grid{
        div{
            background-color:inherit;
        }
    }
}

// LISTA PRODUTOS

.slider-produtos{
    padding: 10rem 0;
    background-color: #f5f5f5;
    overflow: hidden;
}

.swiper-wrapper{
    align-items: center;
    @media screen and (min-width: 1200px){
        position: relative;
        right: 7rem;
    }
   
}

.swiper-container{
    margin:0 5%;
    overflow: initial;
}

.swiper-slide{
    // background:red;
    // margin:0 8rem !important;
    a{
        color:#3c3c3c;
        text-decoration: none;
    }
    img{
        width: 100%;
    }
}

.swiper-pagination{
    position: relative;
}

.swiper-pagination-bullet-active{
    background: $color-green;
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    margin:3.5rem 0 0;
}

.swiper-txt{
    span{
        margin: 0;
        font-size: 3rem;
        color:$color-pink;
        font-family: 'Montserrat', sans-serif;
        padding-left: 3rem;
        font-weight: normal;
    }
    h2{
        font-size: 7.8rem;
        text-transform: uppercase;
        color:$color-green;
        font-family: 'Baskervville', serif;
        font-weight: normal;
        font-style: italic;
        margin: 0;
    }
    @media screen and (max-width: 899px){
        display: none;
    }
    @media screen and (min-width: 900px){
        display: block;
        position: relative;
        left:22rem;
        z-index: 2;
    }
}

.swiper-txt-mobile{
    @media screen and (max-width: 899px){
        display: block;
        margin: 1rem 0;
    }
    @media screen and (min-width: 900px){
        display: none;
    }
}

.info-produto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.5rem;
    width: auto;
    p{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.25rem;
    }
    // .heart-swiper{
    //     background-image: url("../images/svg/heart-off.svg");
    //     background-position: center center;
    //     background-repeat: no-repeat;
    //     width: 2.6rem;
    //     height: 2.1rem;
    //     cursor: pointer;
    //     // transition: all .3s ease-in;
    // }
    // .heart-swiper.active{
    //     background-image: url("../images/svg/heart-on.svg");
    // }
}

// SUB FOOTER

.sub-footer{
    background-color: $color-white;
    padding:1.85rem 0;
    .wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        color:#5a5a5a;
        font-family: 'Montserrat', sans-serif;
        @media screen and (min-width: 900px){
            justify-content: space-around;
            flex-direction: row;
        }
    }
}

.made-component{
    text-align: center;
    font-family: "Baskervville",serif;
    font-size: 3.3rem;
    color: $color-green;
    font-style: italic;
    p{
        img{
            position: relative;
            top: 1rem;
            margin: 0 .5rem;
            width: 4.8rem;
            height: 3.8rem;
        }
        span{
            color: #c2a0e5;
            font-style: normal;
        }
    }
}

#toTop {
    // padding: 5px 3px;
    background: rgba(170,96,59,.7);
    color: #fff;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    transform: rotate(-180deg);
    transition: all .3s ease;
    @media screen and (max-width: 600px){
        bottom: 1rem;
        right: 1rem;
    }
    &:hover{
        background: rgba(170,96,59,.9);
        transform: rotate(180deg);
        width: 4.5rem;
        height: 4.5rem;
    }
    span{
      background: url('../images/svg/arrow-up.svg') no-repeat center center;
      width: inherit;
      height: inherit;
      display: inline-block;
    }
}

.image-grid{
    max-width: 110rem;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem 4rem;
    img{
        width: 100%;
    }

    @media screen and (min-width: 700px){
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.footer-store{
    text-align: center;
    margin: auto;
    .store-address{
        color:$color-green;
        font-family: "Baskervville",serif;
        font-style: italic;
        font-size: 2.73rem;
        margin: .5rem;
    }

    .store-city{
        font-size: 2.48rem;
        color:#ae8190;
        text-transform: uppercase;
        margin: .5rem;
        padding-bottom: 15rem;
        @media screen and (max-width: 600px){
            font-size: 2.2rem;
        }
    }
}

.item-menu-drop, .menu-drop{
    position: relative;
    &:after{
        content: '';
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        background: url('../images/svg/arrow-down-menu.svg') no-repeat;
        top:30%;
        // right:8.5rem;
    }
    &:hover{
        &:after{
            background: url('../images/svg/arrow-down-menu-hover.svg') no-repeat;
        }
    }
}

@media screen and (min-width: 970px){
    .menu-drop{
        &:after{
            display: none;
        }
    }
}

.bg-video__content{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-opacity{
    opacity: .75;
}

// tooltip share

/* Tooltip container */
.tooltip {
    position: relative;
    display: block;
    text-transform: uppercase;
    margin-top: 2rem;
    font-size: 1.4rem;
    width: fit-content;
    cursor: pointer;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    // width: 120px;
    background-color: $color-white;
    // border:1px solid $color-orange;
    // color: #fff;
    text-align: center;
    padding: 1rem;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    // border:1px solid $color-green;

    width: 120px;
    bottom: 110%;
    left: 0;
    // margin-left: 60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    @media screen and (min-width: 970px){
        left: -55%;
    }
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

//   .tooltip .tooltiptext::after {
//     content: " ";
//     position: absolute;
//     top: 100%;
//     left: 50%;
//     margin-left: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: $color-white transparent transparent transparent;
//   }

#st-1.st-animated{
    display: flex;
}

#st-1 .st-btn[data-network='facebook']{
    background-color: $color-white !important;
    background-image: url('../images/svg/facebook.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border-radius: 0 !important;
    background-size: contain;
}

#st-1 .st-btn[data-network='facebook'] img{
    display: none;
}

#st-1 .st-btn[data-network='pinterest']{
    background-color: $color-white !important;
    background-image: url('../images/svg/pinterest.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border-radius: none !important;
    background-size: contain;
}

#st-1 .st-btn[data-network='email']{
    background-color: $color-white !important;
    background-image: url('../images/svg/mail.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border-radius: none !important;
    background-size: contain;
}

#st-1 .st-btn[data-network='whatsapp']{
    background-color: $color-white !important;
    background-image: url('../images/svg/whatsapp-share.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border-radius: none !important;
    display: block !important;
    background-size: contain;
}

#st-1 .st-btn{
    border-radius: none !important;
}

#st-1 .st-btn > img{
    display: none !important;
}

.table-main{
    max-width: 100%;
    width: 80%;
    margin: 6rem auto 2rem;
    border-collapse: collapse;
    border:none;
    height: auto;
    font-size: 1.3rem;
    position: relative;
    tr{
        border-style: none;
    }
    thead{
        position: sticky;
        top: 0;
        tr{
            text-align: left;
            // display:block;
            th{
                padding: 8px 5px;
                vertical-align: bottom;
                text-align: center;
                color: #fff;
                background-color: $color-green;
                border-style: solid;
                border-width: 1px;
                border-color: $color-green;
                &:first-child{
                    width: 30%;
                }
            }
        }
    }

    // thead.Fixed{position: absolute; width: 100%;}

    tbody{
        tr{
            transition: all .2s ease;
            &:nth-child(2n){
                background-color:rgba(232, 218, 246, .3);
            }
            &:hover{
                background-color: rgba(186, 222, 232, .6);
                // color:$color-white;
            }
            td{
                text-align: center;
                border-style: solid;
                border-width: 1px;
                border-color: $color-green;
                padding: 8px;
            }
        }
    }
}

.text-bottom-product{
    display: initial !important;
    h4{
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-top: 3rem;
        font-weight: normal;
        margin-bottom: 0;
        letter-spacing: 4px;
        @media screen and (min-width: 970px){
            margin-top: 0;
        }
    }
    p{
        color: #7b7b7b;
        font-family: "Baskervville",serif;
        font-weight: normal;
        font-style: italic;
        font-size: 1.6rem;
        margin-bottom: 3rem;
        line-height: 1.5;
        margin-top: .5rem;
        @media screen and (min-width: 970px){
            max-width: 65rem;
        }
    }
}

#btn-book{
    filter: grayscale(100%);
    position: fixed;
    right: 2rem;
    bottom: 6rem;
    z-index: 100;
    &:hover{
        filter: grayscale(0);
    }
}