@import "variables";
@import "header";
@import "menu";
@import "slider";
@import "components";
@import "footer";
@import "interna";
@import "modal";

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?ch8oqw');
    src:  url('../fonts/icomoon.eot?ch8oqw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ch8oqw') format('truetype'),
    url('../fonts/icomoon.woff?ch8oqw') format('woff'),
    url('../fonts/icomoon.svg?ch8oqw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-arrow-thin-right:before {
    content: "\e901";
}

.icon-whatsapp:before {
    content: "\ea93";
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*::selection{
    background-color: $color-green;
    color:$color-white;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Montserrat",sans-serif;
}

body{
    overflow-x: hidden;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

.wrap{
    box-sizing: border-box;
    max-width: 1230px;
    margin: 0 auto;
    padding:0 5%;
    overflow: hidden;
    // border:1px solid red;
    // @media screen and (min-width: 1200px){
    //     padding:0;
    // }
}

.simple-link{
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
    color:$color-white;
    font-size: 1.239rem;
}

.img-hei{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 72px;
        height: 60px;
        background: url("../images/decora-hei.png") no-repeat;
        left: -3.6rem;
        bottom: -2.5rem;
    }
}

.btn-add-bag{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem;
    color:$color-white;
    background-color: $color-orange;
    width: 25rem;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all .2s ease-in;
    margin-bottom: .5rem;
    &:hover{
        background-color: $color-blue;
        color:$color-black;
    }
}

.heart-swiper{
    background-image: url(../images/svg/heart-off.svg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 2.6rem;
    height: 2.1rem;
    cursor: pointer;
    display: inline-block;
}

.heart-swiper.active{
    background-image: url("../images/svg/heart-on.svg");
}

.swiper-pagination-bullet{
    width: 1rem;
    height: 1rem;
}

.zoomLens{
    border: 3px solid $color-white !important;
}

// HOME

.meet-roberta{
    background-color: $color-orange;
    padding:12.5rem 0;
    .wrap{
        @media screen and (min-width: 1200px){
            padding: 0;
            max-width: 1130px;
        }
        .row-container{
            color:#fcfcfc;
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 900px){
                flex-direction: row;
            }
            .box-text{
                span{
                    font-size: 2.6rem;
                    font-family: 'Montserrat', sans-serif;
                    margin-left:2.5rem;
                    color:#fffbcc;
                }
                h2{
                    text-transform: uppercase;
                    font-size: 4rem;
                    font-family: 'Baskervville', serif;
                    font-weight: normal;
                    font-style: italic;
                    margin:0;
                    letter-spacing: .4rem;
                    word-spacing: 1rem;
                    @media screen and (min-width: 900px){
                        font-size: 6rem;
                    }
                }
                p{
                    font-size: 2.4rem;
                    text-align: center;
                    font-style: italic;
                    line-height: 3.4rem;
                    letter-spacing: .09rem;
                    em{
                        color:#e8daf6;
                        font-style: normal;
                    }
                    @media screen and (min-width: 900px){
                        width: 550px;
                        margin: 8rem auto;
                        line-height: 4rem;
                        font-size: 2rem;
                    }
                }
                @media screen and (min-width: 900px){
                    margin-right: 6rem;
                    width: 54%;
                }
            }
            .image-main{
                img{
                    width: 100%;
                }
                @media screen and (min-width: 900px){
                    width: 455px;
                }
            }
        }
    }
}

.meet-roberta{
    .wrap{
        .row-reverse{
            @media screen and (min-width: 900px){
                flex-direction: row-reverse;
                margin-top: 6.7rem;
            }
            margin-top: 3rem;
            .box-text{
                @media screen and (min-width: 900px){
                    margin-left: 4rem;
                    margin-right: 0;
                }
                p{
                    text-align: left;
                    font-size: 1.6rem;
                    font-style: normal;
                    font-family: 'Montserrat', sans-serif;
                    line-height: 2.5rem;
                    @media screen and (min-width: 900px){
                        width: 350px;
                    }
                    @media screen and (min-width: 1200px){
                        margin-left: 20rem;
                    }
                    a{
                        @media screen and (min-width: 900px){
                            padding-top: 4.5rem;
                        }
                    }
                }
            }
            .image-main{
                position: relative;
                @media screen and (min-width: 900px){
                    width: 362px;
                    height: 362px;
                }
            }
        }
    }
}

