nav{
	position: fixed;
	z-index: 99;
	width: 100%;
	padding:2rem 0;
	background-color: transparent;
}

nav .wrapper{
	position: relative;
	max-width: 1300px;
	max-width: 100%;
	padding: 0px 10px;
	// height: 70px;
	// line-height: 70px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;	
	@media screen and (min-width: 970px) {
		padding: 0px 30px;
	}
}

nav .wrapper .logo{
	margin-right: auto;
	a{
		width: 157px;
		display: inline-block;
	}
}

nav .wrapper .icons-nav{
	display: flex;
	align-items: center;
	a{
		margin:0 .5rem;
		height: 1.8rem;
		width: 1.8rem;
		overflow: hidden;
		cursor: pointer;
		@media screen and (min-width: 970px) {
			margin:0 1rem;
		}
		img{
			width: 100%;
			height: 100%;
    		overflow: hidden;
		}
	}
}

nav .wrapper .icons-nav .hamburguer-mobile{
	width: 2rem;
	height: 2rem;
}

.hamburguer-mobile img{
	cursor: pointer;
}

nav .wrapper .nav-content{
	display: flex;
	align-items: center;
	align-self: flex-start;
    margin-top: 4rem;
}

.wrapper .nav-links{
	display: flex;
	align-items: center;
}

.nav-links li{
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
	text-transform: uppercase;
	// width: 50%;
}

.nav-links li a{
	color: #f2f2f2;
	text-decoration: none;
	// font-size: 18px;
	// font-weight: 500;
	padding: 9px 1.25rem;
	// border-radius: 5px;
	transition: all 0.3s ease;
}

.nav-links li a.menu-drop:hover{
	color: #9a785c;
	background-color: #fff;
}

.nav-links li a.menu-drop-active{
	color: #9a785c;
	background-color: #fff;
}

.nav-links .mobile-item{
	display: none;
}

.nav-links .drop-menu{
	position: absolute;
	background: #9a785c;
	width: 180px;
	line-height: 45px;
	top: 65px;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
	transition: all 0.3s ease;
	top: 65px;
	opacity: 1;
	visibility: visible;
}

.drop-menu li a{
	width: 100%;
	display: block;
	padding: 0 0 0 15px;
	font-weight: 400;
	border-radius: 0px;
}

.mega-box{
	position: absolute;
	right: 0;
	width: 70%;
	padding: 0 30px;
	top: 90px;
	opacity: 0;
	visibility: hidden;
}

.mega-box .content{
	// background: #9a785c;
	background: #fff;
	// padding: 25px 20px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.mega-box .content .row{
	width: calc(38% - 30px);
	line-height: 20px;
	padding: 3rem;
}

.mega-box .content .box-jleft{
	background-color: #fff;
	h3{
		color:#665d52;
	}
	.mega-links{
		li{
			a{
				color:#665d52;
				&:hover{
					color:$color-orange;
				}
			}
		}
	}
}

.content .row img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	height: 325px;
	max-height: 325px;
}

.content .row h3{
	color: #665d52;
	font-size: 1.6rem;
	font-family: 'Baskervville', serif;
	font-weight: 500;
	text-transform: none;
	font-style: italic;
	margin-top:0;
	border-bottom:1px solid #deb59d;
	padding-bottom: .85rem;
}

.content .row .mega-links{
	display: flex;
    flex-wrap: wrap;
}

.row .mega-links li{
	width: 50%;
}

.row .mega-links li a{
	padding: .25rem 0;
	color: #665d52;
	font-size: 1.3rem;
	display: block;
	text-transform: none;
	&:hover{
		background: none;
		color:#fe6c2d;
	}
}

// .row .mega-links li a:hover{
// 	// color: #f2f2f2;
// }

.wrapper .btn{
color: #fff;
font-size: 20px;
cursor: pointer;
display: none;
padding-left: 1rem;
}
.wrapper .btn.close-btn,
.wrapper .btn.close-btn-inst{
	position: absolute;
	right: 2.5rem;
	top: 1.5rem;
	background: url('../images/svg/close-menu.svg') no-repeat;
	width: 2rem;
	height: 2rem;
	// display: block;
}

// .wrapper .btn{
// 	display: block;
// 	width: 4rem;
//     height: 3rem
// }

.wrapper .nav-links-inst{
	position: fixed;
	height: 100vh;
	width: 100%;
	max-width: 300px;
	top: 0;
	z-index: 2;
	// left: -350px;
	right: -300px;
	transform: translateX(35rem);
	background: rgba(255, 255, 255, .9);
	// background-color: red;
	// display: block;
	// display: none;
	padding: 5rem 2rem;
	line-height: 50px;
	overflow-y: auto;
	box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
	transition: all .9s ease-in;
	.btn{
		display: block;
	}
}

.nav-links-inst li{
	// margin: 15px 10px;
	width: 100%;
}

.nav-links-inst  li a{
	padding: .5rem 0 0;
	display: block;
	font-size: 2rem;
	text-decoration: none;
	color:$color-green;
	text-transform: uppercase;
	margin-left: 3rem;
	font-family: "Baskervville",serif;
	transition: transform 0.2s;
	&:hover{
		font-style: italic;
    	transform: translate3d(2rem,0,0);
    	color: $color-orange;
		&:before{
			opacity: 1;
		}
		// &:after{
		// 	content: '';
		// 	position: absolute;
		// 	top: 0;
		// 	left: -5.5rem;
		// 	right: 0;
		// 	height: 100%;
		// }
	}
	&:before{
		content: '';
		top: 55%;
		width: 3.5rem;
		height: 1px;
		background: currentColor;
		position: absolute;
		right: calc(100% + 2rem);
		opacity: 0;
		pointer-events: none;
	}
}

#menu-btn-inst:checked ~ .nav-links-inst{
	right: 0px !important;
	// display: block !important;
	transform: translateX(0);
}
// #menu-btn-inst:checked ~ .btn.menu-btn{
// 	display: block;
// }

// #close-btn-inst:checked ~ .btn.menu-btn{
// 	display: block;
// }

@media screen and (min-width: 970px) {
	#menu-btn-inst:checked ~ .btn.menu-btn{
		display: none;
	}

	#close-btn-inst:checked ~ .btn.menu-btn{
		display: none;
	}
}

@media screen and (max-width: 970px) {
.wrapper .btn{
	display: block;
	width: 4rem;
    height: 3rem
}
.wrapper .nav-links{
	position: fixed;
	height: 100vh;
	width: 100%;
	max-width: 350px;
	top: 0;
	// transform: translateX(-100%);
	left: -100%;
	background: #242526;
	display: block;
	padding: 5rem 2rem;
	line-height: 50px;
	overflow-y: auto;
	box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
	transition: all 0.3s ease;
}
/* custom scroll bar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #242526;
}
::-webkit-scrollbar-thumb {
	background: #3A3B3C;
}
#menu-btn:checked ~ .nav-links{
	left: 0%;
}
#menu-btn:checked ~ .btn.menu-btn{
	display: block;
}
#close-btn:checked ~ .btn.menu-btn{
	display: block;
}

.nav-links li{
	// margin: 15px 10px;
	width: 100%;
}
.nav-links li a{
	padding: 1rem 0 0;
	display: block;
	font-size: 20px;
}
.nav-links .drop-menu{
	position: static;
	opacity: 1;
	top: 65px;
	visibility: visible;
	padding-left: 20px;
	width: 100%;
	max-height: 0px;
	overflow: hidden;
	box-shadow: none;
	transition: all 0.3s ease;
}
#showDrop:checked ~ .drop-menu,
#showMega:checked ~ .mega-box{
	max-height: 100%;
}

#showDrop:checked ~ .drop-menu,
#showMegaMobile:checked ~ .mega-box{
	max-height: 100%;
}

.nav-links .desktop-item{
	display: none;
}
.nav-links .mobile-item{
	display: block;
	color: #f2f2f2;
	font-size: 20px;
	font-weight: 500;
	// padding-left: 20px;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.3s ease;
}
// .nav-links .mobile-item:hover{
// 	// background: #3A3B3C;
// }
.drop-menu li{
	margin: 0;
}
.drop-menu li a{
	border-radius: 5px;
	font-size: 18px;
}
.mega-box{
	position: static;
	top: 65px;
	opacity: 1;
	width: 100%;
	visibility: visible;
	padding: 0;
	max-height: 0px;
	overflow: hidden;
	transition: all 0.3s ease;
}
.mega-box .content{
	box-shadow: none;
	flex-direction: column;
	// padding: 20px 20px 0 20px;
}
.mega-box .content .row{
	width: 100%;
	padding:2rem;
	// margin-bottom: 15px;
	border-top: 1px solid rgba(255,255,255,0.08);
}

.mega-box .content .image-box{
	display: none;
}

.mega-box .content .row:nth-child(1),
.mega-box .content .row:nth-child(2){
	border-top: 0px;
}
.content .row .mega-links{
	border-left: 0px;
	// padding-left: 15px;
	flex-direction: column;
}
.row .mega-links li{
	margin: 1.5rem 0;
	a{
		font-size: 1.6rem;
	}
}
.content .row h3{
	font-size:2rem;
}
}
nav input{
display: none;
}

.menu-drop label{
	cursor: pointer;
}

.body-text{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
text-align: center;
padding: 0 30px;
}
.body-text div{
font-size: 45px;
font-weight: 600;
}

.logo-scrolled{
	display: none;
	opacity: 0;
	visibility: hidden;
}


.scrolled{
	// background:rgba(0, 0, 0, .8);
	// background: rgba(170,96,59,.8);
	background: rgba(154, 120, 92, .8);
	// background: #fff;
	.wrapper{
		.logo{
			.logo-main{
				display: none;
				opacity: 0;
				visibility: hidden;
			}
			.logo-scrolled{
				display: block;
				opacity: 1;
				visibility: visible;
				// width: 100%;
			}
		}

		.nav-content{
			margin-top: 0;
		}

		.nav-links li a{
			color:#000;
			color:#fff;
		}

		.nav-links li a.menu-drop-active{
			color:#fff;
		}

		.nav-links li:hover .drop-menu,
		.nav-links li:hover .mega-box , .mega-box{
			top:27px;
		}
	}
}

.nav-itens-mobile{
	display: none;
}

@media screen and (max-width: 970px) {
	.nav-itens-mobile{
		display: block;
	}

	.page-interna .main-nav .wrapper{
		flex-direction: row;
		position: relative;
	}

	.page-interna .main-nav{
		height: 75px;
		.wrapper{
			height: inherit;
			.logo{
				position: relative;
    			left: 1.65rem;
			}
		}
	}

	.page-interna .container-int{
		top:75px;
	}

	.page-interna .hamburguer-mobile{
		position: absolute;
		left: 1rem;
	}
}

@media screen and (min-width: 971px) {
	.page-interna .main-nav{
		height: 75px;
		.wrapper{
			height: inherit;
		}
	}

	.page-interna .container-int{
		top:75px;
	}
}

.page-interna .main-nav .wrapper .nav-content{
	margin-top: 0;
	align-self: center;
}

.sub-menu-drop{
	opacity: 0;
	visibility: hidden;
	max-height: 0px;
	transition: all .3s ease;
	// margin-bottom: 1rem;
	li{
		// margin-left: 1rem;
		line-height: 30px;
		a{
			font-size: 1.6rem;
			text-transform: lowercase;
		}
	}
}

.sub-menu-drop-open{
	opacity: 1;
	visibility: visible;
	max-height: 100%;
	transition: all .19s ease;
	margin-bottom: 1rem;
}

@media screen and (max-width: 970px) {
	.nav-links-inst li .item-menu-drop{
		display: none;
	}

	.page-interna .nav-links-inst li .item-menu-drop{
		display: block;
	}
}