@mixin mediaMaxWidth($w) {
	@media (max-width: $w) {
		@content;
  	}
}

svg {
	display: block;
  	overflow: visible;
}

.slider-container {
	position: relative;
	height: 90vh;
	overflow: hidden;
	user-select: none;
	cursor: all-scroll;
	background-color: $color-green;
	@media screen and (min-width: 900px){
		height: 100vh;
	}
}

.slider-control {
	z-index: 2;
	position: absolute;
	top: 0;
	width: 12%;
	height: 100%;
	transition: opacity 0.3s;
	will-change: opacity;
	opacity: 0;
	// display: none;

	&.inactive:hover {
		cursor: auto;
	}

	&:not(.inactive):hover {
		opacity: 1;
		cursor: pointer;
	}

	&.left {
		left: 0;
		background: linear-gradient(to right, rgba(0,0,0,0.18) 0%, rgba(0,0,0,0) 100%);
	}

	&.right {
		right: 0;
		background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.18) 100%);
	}
}

.slider-pagi {
	position: absolute;
	z-index: 3;
	left: 50%;
	bottom: 1.5rem;
	transform: translateX(-50%);
	font-size: 0;
	list-style-type: none;
  
	&__elem {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 1rem;
		height: 1rem;
		margin: 0 .8rem;
		border-radius: 50%;
		border: 1px solid #fff;
		cursor: pointer;
	
		&:before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			width: 1.2rem;
			height: 1.2rem;
			background: #fff;
			border-radius: 50%;
			transition: transform 0.3s;
			transform: translate(-50%, -50%) scale(0);
		}
	
		&.active:before,
		&:hover:before {
	  		transform: translate(-50%, -50%) scale(1);
		}
  	}
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;

  &.animating {
	transition: transform 0.5s;
	will-change: transform;

	.slide__bg {
	  transition: transform 0.5s;
	  will-change: transform;
	}
  }
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.active {

	.slide__overlay,
	.slide__text{
	  opacity: 1;
	  transform: translateX(0);
	  background-color: none;
	}
  }

  &__bg {
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background-size: cover;
	will-change: transform;
	background-position: center center;
	background-repeat: no-repeat;
  }
  &:nth-child(1) {
	left: 0;

	.slide__bg {
	  left: 0;
	  background-image: url('../images/slides/slide-01.jpg');
	}

	.slide__overlay-path {
	  fill: $color-green;
	}

	@include mediaMaxWidth(991px) {
	  .slide__text {
		background-color: rgba($color-green, 0.8);
		// background-color: $color-orange;
	  } 
	}
  }
  &:nth-child(2) {
	left: 100%;

	.slide__bg {
	  left: -50%;
	  background-image: url('../images/slides/slide-01.jpg');
	}

	.slide__overlay-path {
	  fill: $color-blue;
	}

	@include mediaMaxWidth(991px) {
	  .slide__text {
		background-color: rgba($color-blue, 0.8);
	  } 
	}
  }
  &:nth-child(3) {
	left: 200%;

	.slide__bg {
	  left: -100%;
	  background-image: url('../images/slides/slide-01.jpg');
	}

	.slide__overlay-path {
	  fill:$color-pink;
	}

	@include mediaMaxWidth(991px) {
	  .slide__text {
		background-color: rgba($color-pink, 0.8);
	  } 
	}
  }
  &:nth-child(4) {
	left: 300%;

	.slide__bg {
	  left: -150%;
	  background-image: url('../images/slides/slide-01.jpg');
	}

	.slide__overlay-path {
	  fill: $color-orange;
	}

	@include mediaMaxWidth(991px) {
	  .slide__text {
		background-color: rgba($color-orange, 0.8);
	  } 
	}
  }

  &__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-content: flex-end;
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(94,94,94,0) 70%, rgba(0,0,0,.3) 100%);
	.discover-collection{
		height: 100vh;
		@media screen and (max-width: 780px){
			h2{
				font-size: 3rem;
			}
			p{
				font-size: 2rem;
			}
		}
	}
  }

  &__overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	min-height: 810px;
	transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
	will-change: transform, opacity;
	transform: translate3d(-20%, 0, 0);
	opacity: 0;
	

	@include mediaMaxWidth(991px) {
	  display: none;
	}

	path {
	  opacity: 0.8;
	}
  }

  &__text {
	position: absolute;
	width: 100%;
	// width: 25%;
	// bottom: 15%;
	// left: 12%;
	// color: #fff;
	transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
	will-change: transform, opacity;
	// transform: translateY(-50%);
	// opacity: 0;
	width: fit-content;

	@include mediaMaxWidth(991px) {
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  height: 20rem;
	  text-align: center;
	  transform: translateY(50%);
	  transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
	  padding: 0 1rem;
	}

	&-heading {
	  font-size: 5rem;
	  margin-bottom: 2rem;
	  
	  @include mediaMaxWidth(991px) {
		line-height: 20rem;
		font-size: 3.5rem;
	  }
	}

	&-desc {
	  font-size: 1.8rem;
	  margin-bottom: 1.5rem;

	  @include mediaMaxWidth(991px) {
		display: none;
	  }
	}

	&-link {
	  z-index: 5;
	  display: inline-block;
	  position: relative;
	  padding: 0.5rem;
	  cursor: pointer;
	  font-size: 2.3rem;
	  perspective: 1000px;
	  
	  @include mediaMaxWidth(991px) {
		display: none;
	  }

	  &:before {
		z-index: -1;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		transform-origin: 50% 100%;
		transform: rotateX(-85deg);
		transition: transform 0.3s;
		will-change: transform;
	  }

	  &:hover:before {
		transform: rotateX(0);
	  }
	}
  }
}

.slider-default{
	.slide{
		svg{
			display: none !important;
		}
		&__content{
			.img-slide{
				display: none;
			}
		}
		@include mediaMaxWidth(991px) {
			.slide__text {
				background-color: transparent;
			} 
		}
	}
}

.slider-htr{
	@media screen and (max-width: 1023px){
		.slide{
			.img-slide{
				display:none;
			}
			.discover-collection{
				height: 30vh;
			}
		}
	}
	
	.slide{
		@media screen and (min-width: 1024px){
			&__bg{
				background-position: 30rem 0;
			}
	
			&__overlay{
				path{
					opacity: 1;
				}
			}

			&__content{
				.discover-collection{
					display: flex;
					flex-direction: inherit;
					justify-content: center;
					padding-top: 10rem;
					height: 100vh;
					p, a{
						text-align: left;
					}
					.img-slide{
						display: block;
						margin-right: 8rem;
						width: 365px;
						height: 505px;
						img, video{
							width: 90%;
							height: 100%;
							object-fit: cover;
						}
						// @media screen and (min-width: 900px){
						// 	margin-right: 8rem;
						// 	display: block;
						// }
					}
					.txt-slide{
						width: 40%;
						text-align: left;
						padding-top: 5rem;
					}
				}
			}
		}
	}
}